/**
 * Swipe plugin styles
 */

@import (reference) "../../../../skins/elastic/styles/variables";
@import (reference) "../../../../skins/elastic/styles/mixins";

// Calculate default colors from default list background color
@color-swipe-default-background: contrast(@color-layout-list-background, darken(@color-layout-list-background, 10%), lighten(@color-layout-list-background, 40%));
@color-swipe-default: contrast(@color-swipe-default-background, lighten(@color-swipe-default-background, 30%), darken(@color-swipe-default-background, 40%), 57%);
@color-swipe-dark-background: contrast(@color-dark-background, darken(@color-dark-background, 15%), lighten(@color-dark-background, 10%));
@color-swipe-dark: contrast(@color-swipe-dark-background, lighten(@color-swipe-dark-background, 30%), darken(@color-swipe-dark-background, 40%), 57%);

#swipe-action {
  position: absolute;
  display: flex;
  align-items: center;
  border-collapse: collapse;

  &.horizontal {
    background-color: @color-swipe-default-background;
    color: @color-swipe-default;
  }

  &.vertical {
    top: 2em;
    z-index: 1000;
    color: @color-swipe-default;
  }

  &.horizontal,
  &.vertical > .swipe-container {
    &.swipe_active,
    &.swipe_mark {
      background-color: @color-message-information;
      color: @color-message-text;
    }

    &.swipe_danger {
      background-color: @color-message-error;
      color: @color-message-error-text;
    }

    &.swipe_move {
      background-color: @color-message-warning;
      color: @color-message-warning-text;
    }

    &.swipe_success,
    &.swipe_compose {
      background-color: @color-message-success;
      color: @color-message-success-text;
    }
  }

  > .swipe-container {
    margin: 0;
    padding: 0;
    list-style-type: none;

    .swipe-action {
      font-size: 1.2em;
      opacity: 1;

      &::before {
        margin: 0 .5rem;
        font-size: inherit
      }
    }

    &.left {
      position: absolute;
      right: 0;

      .swipe-action::before {
        float: right;
      }
    }

    &.down {
      margin: 0 auto;
      padding: .01rem;
      background-color: @color-layout-list-background;
      border-radius: 50%;
      border: 1px solid @color-swipe-default-background;

      .swipe-action {
        &::before {
          float: none;
          margin: .4rem;
          padding: .25rem;
          line-height: 1;
          font-size: 1.2em;
          width: auto;
          height: auto;
        }

        > .swipe-label {
          display: none;
        }
      }
    }
  }
}

.swipe-active:not(#swipe-action),
.swipe-active > td {
  background-color: @color-layout-list-background;
}

.toolbar.menu a.button.swipe {
  display: none;
}

// no support in IE
html.layout-small.touch:not(.ie),
html.layout-phone.touch:not(.ie) {
  .toolbar.menu {
    a.button {
      &.swipe {
        display: inline-block;

        &:before {
          content: @fa-var-hand-pointer;
        }
      }
    }
  }
}

// hide down option in Edge (see known issues in readme)
html.edge #swipeoptionsmenu > .swipeoptions-down {
  display: none;
}

// dark mode
& when (@dark-mode-enabled = true) {
  html.dark-mode {
    #swipe-action {
      &.horizontal {
        background-color: @color-swipe-dark-background;
        color: @color-swipe-dark;
      }

      &.vertical {
        color: @color-swipe-dark;
      }

      &.horizontal,
      &.vertical > .swipe-container {
        &.swipe_active,
        &.swipe_mark {
          background-color: @color-dark-message-information;
          color: @color-dark-font;
        }

        &.swipe_danger {
          background-color: @color-dark-message-error;
          color: @color-dark-font;
        }

        &.swipe_move {
          background-color: @color-dark-message-warning;
          color: @color-dark-font;
        }

        &.swipe_success,
        &.swipe_compose {
          background-color: @color-dark-message-success;
          color: @color-dark-font;
        }
      }

      > .swipe-container {
        &.down {
          background-color: @color-dark-background;
          border-color: @color-swipe-dark-background;
        }
      }
    }

    .swipe-active:not(#swipe-action),
    .swipe-active > td {
      background-color: @color-dark-background;
    }
  }
}