/**
 * Swipe plugin styles
 */

@import (reference) "../../../../skins/elastic/styles/variables";
@import (reference) "../../../../skins/elastic/styles/mixins";

#swipe-action {
  position: absolute;
  display: flex;
  align-items: center;
  border-collapse: collapse;

  &.horizontal {
    background-color: lighten(@color-black, 85%);
    color: lighten(@color-black, 50%);

    &.swipe_active,
    &.swipe_mark {
      background-color: fadeout(@color-main, 85%);
      color: @color-main;
    }

    &.swipe_danger {
      background-color: @color-message-error-box-background;
      color: @color-message-error;
    }

    &.swipe_move {
      background-color: @color-message-warning-box-background;
      color: @color-message-warning;
    }

    &.swipe_success,
    &.swipe_compose {
      background-color: @color-message-success-box-background;
      color: @color-message-success;
    }
  }

  &.vertical {
    background-color: transparent;
    color: lighten(@color-black, 70%);
    top: 2em;
    height: 1.5em;
    z-index: 1000;

    &.swipe_active,
    &.swipe_mark {
      color: @color-main;
    }

    &.swipe_move {
      color: @color-message-warning;
    }

    &.swipe_danger {
      color: @color-message-error;
    }

    &.swipe_success,
    &.swipe_compose {
      color: @color-message-success;
    }
  }

  > .swipe-container {
    margin: 0;
    padding: 0;
    list-style-type: none;

    .swipe-action {
      font-size: 1.2em;
      opacity: 1;

      &::before {
        margin: 0 .25em 0 .5em;
        font-size: inherit
      }
    }

    &.left {
      position: absolute;
      right: 0;

      .swipe-action::before {
        float: right;
        margin: 0 .5em 0 .25em;
      }
    }

    &.down {
      margin: 0 auto;
      background-color: #fff;
      border-radius: 50%;
      box-shadow: 0 0 10px lighten(@color-black, 75%);

      .swipe-action {
        &::before {
          float: none;
          padding: 0;
          margin: .4em;
          line-height: 1;
          font-size: 1.2em;
          width: auto;
          height: auto;
        }

        > .swipe-label {
          display: none;
        }
      }
    }
  }
}

.swipe-active:not(#swipe-action),
.swipe-active > td {
  background-color: @color-layout-list-background;
}

.toolbar.menu a.button.swipe {
  display: none;
}

// no support in IE
html.layout-small.touch:not(.ie),
html.layout-phone.touch:not(.ie) {
  .toolbar.menu {
    a.button {
      &.swipe {
        display: inline-block;

        &:before {
          content: @fa-var-hand-pointer;
        }
      }
    }
  }
}

// hide down option in Edge (see known issues in readme)
html.edge #swipeoptionsmenu  > .swipeoptions-down {
  display: none;
}